
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    background: #412e41;
}

#nav{
    position: fixed;
    z-index: 1;
    width: 100%;
}

#headshot{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 5px;
}


.name-title{
    background: url('./assests/background2.jpg');
    background-size: cover;
    opacity: 0.85;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 200px;
}

#name{
    font-size: 70px;
    font-weight: 400;
}
#title{
    font-size: 30px;
    font-weight: 500;
}

#barbershop{
    min-height: 200px;
    min-width: 200px;
    padding: 3%;
}
#card1{
    background-color: #412e41;
    color: #fff;
    text-align: center;
}
#about-me{
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: lowercase;
}

#card2{
    background-color: #412e41;
    color: #fff;
    text-align: center;
}
#interest{
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: lowercase;
}

.card-img-top{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card-text{
    line-height: 200%;
}

#healthcare{
    min-height: 200px;
    min-width: 200px;
    padding: 3%;
}

#card3{
    background-color: #412e41;
    color: #fff; 
    text-align: center;
}

#hobbies{
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: lowercase;
}

#video{
    margin-top: 8%;
}

#projects{
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: 3%;
    text-transform: uppercase;
}

.project-box {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 4%;}
    .project-box .project-box-title {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      color:#fff;
      background:#6F6E5F;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
      }
      .project-box .project-box-title .project-box-content {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center; 
        padding: 3%;
    }

        .project-box:hover .project-box-title {
            opacity: 1; }
.img-fluid{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#contact{
    font-size: 30px;
    color: #6F6E5F;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3%;
    text-transform: lowercase;
}
.formspree{
    background: #fff;
    margin: auto;
    color: #6F6E5F;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: auto;
}

#footer{
    text-align: center;
}

#resume{
    display: block;
}

svg{
    margin-top: 5%;
    margin-right: 5px;
    width: auto;
    height: 5vh;
    align-items: center;
}

.btn{
  background-color: royalblue;
  border: none;
  color: white;
  padding: 12px 30px;
  margin: 5px;
  cursor: pointer;
  font-size: 10px;
}
.btn:hover{
    background-color: dodgerblue;
}

.copyright{
    color: #fff;
}